<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>xyz.idead.buttonwatch</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/Cellar/python/3.7.0/bin/python3.7</string>
			<string>$HOME/Applications/idead/idead_serial_monitor.py</string>
		</array>
		<key>KeepAlive</key>
        <true/>
	</dict>
</plist>